
<p>Hello {{ order.person.first_name }},
</p>

<p>We have received your request to repair your iPhone. Please review the details that you have provided us and let us know to this email {{ site.email }} if there's any mistake.</p>

<p>One of our technicians will review your request and send you a price quote shortly.</p>

<h3>Summary of your repair request</h3>
<p>
  {% include 'mails/order_details.html' %}
</p>

<h4>Here's your contact information</h4>

<p>
  {% include 'mails/user_details.html' %}
</p>

<p>
  Thank you for trusting in {{ site.name }} and if there's anything you need, don't hesitate to get in touch with us.
</p>

<p>{{ site.name }} team</p>