
<p>Hello {{ order.person.first_name }},
</p>

<p>We have received your order to repair your iPhone. Please review the details that you have provided us and let us know to this email {{ site.email }} if there's any mistake.</p>

<p>One of our technicians will review your order and contact you shortly.</p>

<h3>Summary of your repair order</h3>
<p>
  {% include 'mails/order_details.html' %}
</p>

<h4>Here's your contact information</h4>

<p>
  {% include 'mails/user_details.html' %}
</p>

{% if defect.slug == 'water-damage' %}
    <p>You’ve chosen water damage. You should be aware that <b>we can fix this type of damage in
        60%</b> of cases. It depends on how much water entered into your iPhone. We will not charge you anything if we
        cannot fix it.</p>
{% endif %}
<p>
  Thank you for trusting in {{ site.name }} and if there's anything you need, don't hesitate to get in touch with us.
</p>

<p>{{ site.name }} team</p>