
<p>Hej {{ order.person.first_name }},
</p>

<p>Vi har fått din beställning för att reparera din iPhone. Kolla igenom detaljerna som du har lämnat till oss och gärna meddela oss via e-majl {{ site.email }} om det är något fel.</p>

<p>En av våra tekniker ska granska din beställning och  återkomma till dig inom kort.</p>

<h3>Orderöversikt</h3>
<p>
  {% include 'mails/order_details.html' %}
</p>

<h4>Dina kontaktuppgifter</h4>

<p>
  {% include 'mails/user_details.html' %}
</p>

{% if defect.slug == 'water-damage' %}
<p>Du har valt vattenskada. Tänk på att <b>vi kan laga sådana skador 60%</b> av fallen. Det beror på hur mycket vatten och fukt har gått in i din iPhone, men vi kommer inte ta betalt om vi inte kan laga den.</p>

{% endif %}
<p>
Tack för att du litar på {{ site.name }}. Om det är någonting du behöver, tveka inte att ta kontakt med oss.</p>

<p>{{ site.name }} team</p>