
<p>Hej {{ order.person.first_name }},
</p>

<p>Vi har fått din begäran för att reparera din iPhone. Kolla igenom detaljerna som du har lämnat till oss och gärna meddela oss via e-majl {{ site.email }} om det är något fel.</p>

<p>En av våra tekniker ska granska din problembeskrivning och återkomma till dig med en prisuppgift inom kort. Om vi behöver vidare förklaringar tar vi kontakt med dig.</p>

<h3>Översikt</h3>
<p>
  {% include 'mails/order_details.html' %}
</p>

<h4>Dina kontaktuppgifter</h4>

<p>
  {% include 'mails/user_details.html' %}
</p>


<p>
Tack för att du litar på {{ site.name }}. Om det är någonting du behöver, tveka inte att ta kontakt med oss.</p>

<p>{{ site.name }} team</p>