<form method="post" enctype='multipart/form-data'>
    <div class="row">
        {% for field in form if field.widget.input_type != 'hidden' %}
            <div class="form-group col-lg-3">
                <label>{{ field.label.text }}
                    {{ field(class_="form-control") }}
                </label>
            </div>
        {% endfor %}
        {% for field in form if field.widget.input_type == 'hidden' %}
            {{ field(class_="form-control") }}
        {% endfor %}
    </div>
    <button>SUBMIT</button>
</form>
