<div class="tr" data-dbl-click-load="{{ url_for('admin_model_edit', model=model, id=object.id) }}">
    {% for field in form if field.name != 'csrf_token' and field.widget.input_type != 'hidden' %}
        <span class="td">{{ field_parser(object[field.name] or '')|safe }}</span>
    {% endfor %}
    <span class="td edit-cell">
        <a href="{{ url_for('admin_model_edit', model=model, id=object.id) }}" target="_blank">
            <i class="fa fa-edit fa-2x"></i>
        </a>
    </span>
</div>
