<form class="tr" method="post" enctype='multipart/form-data' data-ajax-submit="1" action="{{ request.path }}">
    {% for field in form if field.widget.input_type != 'hidden' %}
        <span class="td">{{ field() }}</span>
    {% endfor %}
    <span class="td">
        <button>SUBMIT</button>
    </span>
    {% for field in form if field.widget.input_type == 'hidden' %}
        {{ field() }}
    {% endfor %}
</form>