{#{% include 'components/scrolljs.html' %}#}
{% if is_editable or is_editable == 'sng' %}
<style>
  .edit7 {
    border: 1px dotted darkgray;
  }
</style>
<script src="{{ url_for('static', filename='editjs.js') }}"></script>
{% endif %}
{#{{ 'TEXT'|trans(lang, is_editable) }}#}