<p>Hello guys,<br>
{{ name }} Suggested a city</p>

<ul>
<li>Fullname: {{ form_data.fullname }}</li>
<li>Email: {{ form_data.email }}</li>
<li>Language: {{ lang }}</li>
<li>City: {{ form_data.city }}</li>
</ul>

<p>{{ site.name }} team</p>
