<p>Hello again<br>
{{ name }} sent us further information about where and when to meet them.</p>

<h2>Contact them right away!!!</h2>

<p>Here's your client's full order summary:<br>
{% include 'mails/user_details.html' %}
{% include 'mails/order_details.html' %}
</p>
<p>Now, get out there and do your magic!</p>

<p>{{ site.name }} team</p>