<p>It seems that someone believes that you can fix their iPhone and they have trusted you to do it.</p>

<h2>Contact them right away!!!</h2>

<p>Here's your client's info and their problem:
{% include 'mails/user_details.html' %}
{% include 'mails/order_details.html' %}
</p>
<p>Now, get out there and do your magic!</p>

<p>{{ site.name }} team</p>
