<ul>
<li>{{ 'Model'|trans(lang, gen_entry=True) }}: iPhone {{ order.first_cart_item.defect_model.model.name }}</li>
<li>{{ 'Damage'|trans(lang, gen_entry=True) }}: {{ order.first_cart_item.defect_model.defect.slug|trans(lang, is_editable) }}</li>
{% if order.first_cart_item.color %}
    <li>{{ 'Color'|trans(lang, gen_entry=True) }}: {{ order.first_cart_item.color.name|trans(lang) }}</li>
{% endif %}
{% if order.first_cart_item.price %}
  <li>{{ 'Price'|trans(lang, gen_entry=True) }}: <b>{{ order.first_cart_item.price }} kr</b></li>
{% endif %}
{% if 'home' in order.location %}
  <li>{{ 'RUT'|trans(lang) }}: {{ ('RUT applied' if order.is_rut else 'RUT not applied')|trans(lang, is_editable) }}</li>
{% endif %}
{% if order.first_cart_item.other_details %}
  <li>{{ 'Details for <b>"Other"</b>'|trans(lang, gen_entry=True) }}: {{ order.first_cart_item.other_details }}</li>
{% endif %}
<li>{{ 'Repair place'|trans(lang, gen_entry=True) }}: {{ order.location|trans(lang, gen_entry=True) }}</li>
<li>{{ 'City'|trans(lang, gen_entry=True) }}: {{ cities_dict[order.city].name }}</li>
{% if order.meet_location %}
  <li>{{ 'Location'|trans(lang, gen_entry=True) }}: {{ order.meet_location }}</li>
  <li>{{ 'Date and time'|trans(lang, gen_entry=True) }}: {{ order.meet_time }}</li>
{% endif %}
</ul>