<ul>
<li>{{ 'First Name'|trans(lang, gen_entry=True) }}: {{ order.person.first_name }}</li>
<li>{{ 'Last Name'|trans(lang, gen_entry=True) }}: {{ order.person.last_name }}</li>
<li>{{ 'Email'|trans(lang, gen_entry=True) }}: {{ order.person.email }}</li>
<li>{{ 'Phone'|trans(lang, gen_entry=True) }}: {{ order.person.phone }}</li>
</ul>