.color-choice .btn.btn-color-choice {
    height: auto;
    padding: 24px;
    margin-bottom: 5px;
    border: 1px solid #08708A;
}
.form-group.has-error.has-danger .color-choice .btn.btn-color-choice {
    border: 1px solid #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.btn.btn-color-choice:hover {
    background-color: #e3e3e3;
}
input:checked ~ .btn.btn-color-choice {
    background-color: lightgray;
}
.color-choice .choice-text {
    font-size: 14px;
    display: block;
}
.color-circle {
    width: 18px;
    height: 18px;
}
input.color-choice {
    opacity: 0;
    height: 0;
    width: 0;
    position: absolute;
}
