.flow-body section.with-footer {
  margin: 40px auto 0;
  padding-bottom: 120px;
}
.flow-body h1 {
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-size: 48px;
  font-weight: 300;
  margin: 40px auto 20px;
  text-align: center;
  color: #032b2f;
}
.flow-body h1 b {
  font-weight: 900;
  color: #3BABBA;
}
.flow-body h3 {
  width: 600px;
  margin: 0 auto;
  text-align: center;
  font-weight: 300;
  font-size: 20px;
  line-height: 36px;
}
.flow-body h4,
.flow-body label {
  font-size: 20px;
  font-weight: 300;
}
.flow-body #copyright {
  text-align: center;
  margin: 20px auto;
}
.flow-body .ir-box {
  border: 1px solid #BEBFB6;
  border-radius: 4px;
  padding: 10px;
}
.flow-body #price-includes {
  font-size: 20px;
}
.flow-body #price-includes h4 {
  font-size: 18px;
  margin: 0 0 4px;
}
.flow-body #price-includes ul {
  padding: 0 25px;
}
.flow-body .disclaimer {
  margin-top: 35px;
}
.flow-body .disclaimer .ir-box {
  font-size: 16px;
}
.flow-body .main-info form {
  margin-top: 29px;
}
.flow-body form .form-group input,
.flow-body form .form-group textarea {
  height: 60px;
  border-color: #08708A;
  font-size: 20px;
}
.flow-body form .form-group.has-error .form-control {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.flow-body form .form-group textarea {
  height: 120px;
  padding: 16px;
}
.flow-body form .form-group .opt {
  color: #BEBFB6;
}
.flow-body form button {
  width: 100%;
  margin: 25px 0;
}
.flow-body h2.price {
  margin-top: 0;
  font-size: 48px;
  color: #3BABBA;
  font-weight: 900;
}
.flow-body h2.price small {
  font-size: 18px;
  font-weight: 300;
  color: #3BABBA;
}
.flow-body h2.price currency {
  font-weight: 100;
  font-size: 0.75em;
}
@media screen and (max-width: 767px) {
  .flow-body h1 {
    line-height: 1.40;
    font-size: 40px;
    margin: 40px 20px 25px;
  }
  .flow-body h3 {
    width: 380px;
  }
}
footer.flow-footer {
  position: fixed;
  bottom: 0;
  background-color: #f8f7f9;
  width: 100%;
  height: 120px;
}
footer.flow-footer .choice-text {
  font-size: 18px;
}
footer.flow-footer .back-arrow {
  font-size: 120px;
  line-height: 1em;
  margin-left: 5%;
  width: 12.5%;
  float: left;
}
footer.flow-footer .flow-choice {
  float: left;
  width: 18%;
}
footer.flow-footer .price-flow {
  width: 21%;
  margin-right: 40px;
}
footer.flow-footer .back-arrow .fa.fa-caret-left {
  color: #BEBFB6;
  padding: 0 30px 0 15px;
}
footer.flow-footer .back-arrow .fa.fa-caret-left:hover {
  color: #9EA099;
  background-color: #BEBFB6;
}
footer.flow-footer .flowstate {
  text-align: center;
}
footer.flow-footer img {
  margin: 20px auto 3px;
}
footer.flow-footer .color-circle {
  height: 32px;
  width: 32px;
  margin: 34px auto 25px;
}
footer.flow-footer .choice-text {
  margin: 10px auto 15px;
}
footer.flow-footer h2 {
  margin: 25px 0 0 5px;
  font-size: 46px;
  font-weight: 900;
  color: #3BABBA;
  text-align: right;
  /*width: 120px;*/
}
footer.flow-footer h2 currency {
  font-weight: 100;
  font-size: 40px;
}
footer.flow-footer .small {
  text-align: right;
  font-size: 16px;
  color: #08708A;
  line-height: 1em;
}
footer.flow-footer button {
  margin: 30px 20px;
  width: 220px;
  font-size: 200%;
}
@media screen and (max-width: 767px) {
  footer.flow-footer .flowstate {
    width: 84%;
  }
  footer.flow-footer .back-arrow {
    margin: 10px 0;
    width: 16%;
    font-size: 100px;
    line-height: 1em;
    text-align: center;
  }
  footer.flow-footer .flow-choice {
    float: left;
    width: 28%;
  }
  footer.flow-footer .choice-text {
    font-size: 16px;
  }
}
