body {
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #585b57;
  min-height: 100%;
  height: 100%;
}
html,
body {
  height: 100%;
}
section.container.container-600-lg {
  width: 600px;
  min-height: calc(-237%);
  margin-bottom: 80px;
}
.container-600-lg p {
  font-size: 22px;
}
section.container-fluid.container-760-lg {
  margin-top: 40px;
}
.container-fluid.container-760-lg {
  width: 760px;
}
section.container-fluid.container-760-lg .col-sm-6 {
  padding: 0 40px;
}
.choice {
  width: 100%;
  height: 160px;
}
.choice img {
  margin: 22px auto 28px;
}
.button-wrap {
  padding: 20px 5px;
}
.btn.choice.btn-default {
  border-radius: 0;
  border: 4px solid #DFDFDF;
}
.btn.choice.btn-default:hover {
  background-color: #F0F2E7;
  border: 4px solid #BEBFB6;
}
.choice-text {
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: #032B2F;
  line-height: 1em;
  text-align: center;
}
.color-choice {
  display: table;
}
p.choice-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  white-space: normal;
  line-height: 1.4em;
}
a.choice-link {
  text-decoration: none !important;
}
.color-circle {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
  margin: auto;
}
.color-circle-gold {
  background-color: #d4bba3;
}
.color-circle-silver {
  background-color: #d0d0d4;
}
.color-circle-space-gray {
  background-color: #9b9ba0;
}
.color-circle-rose-gold {
  background-color: #d0a8a0;
}
.color-circle-white {
  background-color: #ffffff;
}
.color-circle-black {
  box-shadow: inset 0 2px 3px rgba(255, 255, 255, 0.6);
  background-color: #111111;
}
.color-circle-blue {
  background-color: #47b2e3;
}
.color-circle-green {
  background-color: #9ad439;
}
.color-circle-yellow {
  background-color: #f1ef29;
}
.color-circle-pink {
  background-color: #fd6e70;
}
.order-summary {
  font-size: 22px;
}
.order-summary h4 {
  text-transform: uppercase;
  margin-top: 0;
}
.order-summary table {
  line-height: 36px;
}
.order-summary table td.key {
  font-size: 18px;
  width: 100px;
}
.order-summary table td.val {
  font-size: 20px;
  color: #08708A;
}
.order-summary table td.val.details {
  padding-top: 20px;
  color: #585b57;
  font-size: 15px;
  line-height: 22px;
}
.order-summary h5,
.order-summary p {
  font-weight: 300;
  font-size: 18px;
}
.order-summary p {
  color: #08708A;
  margin-left: 10px;
}
.back-arrow {
  float: left;
  height: 100%;
}
.btn.btn-primary {
  text-transform: uppercase;
  background-color: #3BABBA;
  font-size: 20px;
  line-height: 46px;
  font-weight: 300;
  border-color: #f0f2e7;
  color: #ffffff;
}
.btn.btn-primary:hover:active {
  border-color: #97DDE7;
}
.btn.btn-primary:hover {
  background-color: rgba(59, 171, 186, 0.5);
}
footer.main-footer a {
  font-size: 18px;
  margin: 0 20px;
  color: #f0f2e7;
}
footer.main-footer #copyright {
  font-size: 16px;
  color: #f0f2e7;
}
footer.main-footer #footer-nav {
  padding: 40px 0;
}
footer.main-footer #copyright {
  padding: 0 0 40px;
  margin-bottom: 0;
}
footer.main-footer {
  background-color: #4B5050;
  text-align: center;
}
.gutter-5.container-fluid {
  padding-left: 5px;
  padding-right: 5px;
}
.gutter-5 .row {
  margin-left: -5px;
  margin-right: -5px;
}
.gutter-5 .col-xs-1,
.gutter-5 .col-sm-1,
.gutter-5 .col-md-1,
.gutter-5 .col-lg-1,
.gutter-5 .col-xs-2,
.gutter-5 .col-sm-2,
.gutter-5 .col-md-2,
.gutter-5 .col-lg-2,
.gutter-5 .col-xs-3,
.gutter-5 .col-sm-3,
.gutter-5 .col-md-3,
.gutter-5 .col-lg-3,
.gutter-5 .col-xs-4,
.gutter-5 .col-sm-4,
.gutter-5 .col-md-4,
.gutter-5 .col-lg-4,
.gutter-5 .col-xs-5,
.gutter-5 .col-sm-5,
.gutter-5 .col-md-5,
.gutter-5 .col-lg-5,
.gutter-5 .col-xs-6,
.gutter-5 .col-sm-6,
.gutter-5 .col-md-6,
.gutter-5 .col-lg-6,
.gutter-5 .col-xs-7,
.gutter-5 .col-sm-7,
.gutter-5 .col-md-7,
.gutter-5 .col-lg-7,
.gutter-5 .col-xs-8,
.gutter-5 .col-sm-8,
.gutter-5 .col-md-8,
.gutter-5 .col-lg-8,
.gutter-5 .col-xs-9,
.gutter-5 .col-sm-9,
.gutter-5 .col-md-9,
.gutter-5 .col-lg-9,
.gutter-5 .col-xs-10,
.gutter-5 .col-sm-10,
.gutter-5 .col-md-10,
.gutter-5 .col-lg-10,
.gutter-5 .col-xs-11,
.gutter-5 .col-sm-11,
.gutter-5 .col-md-11,
.gutter-5 .col-lg-11,
.gutter-5 .col-xs-12,
.gutter-5 .col-sm-12,
.gutter-5 .col-md-12,
.gutter-5 .col-lg-12 {
  padding-left: 5px;
  padding-right: 5px;
}
.open > .btn.btn-danger.dropdown-toggle,
.btn.btn-danger.dropdown-toggle {
  padding: 0 0 14px;
}
.open > .btn.btn-danger.dropdown-toggle,
.btn.btn-danger.dropdown-toggle,
.dropdown-item {
  color: inherit;
  font-weight: inherit;
  background-color: transparent;
  border-color: transparent;
}
.thin-underline {
  border-bottom: 1px solid #fff;
}
.dropdown-menu {
  min-width: 0;
  font-size: inherit;
  color: inherit;
}
.dropdown-item {
  font-size: inherit;
  line-height: 1.2em;
}
@media screen and (max-width: 767px) {
  footer.main-footer #footer-nav a {
    display: block;
    text-align: left;
    margin-bottom: 20px;
    padding-left: 28%;
  }
  footer.main-footer #footer-nav a:last-child {
    margin-bottom: 0;
  }
  section.container.container-380-sm {
    margin-bottom: 40px;
    min-height: calc(-338%);
  }
  section.container.container-380-sm,
  section.container-fluid.container-760-lg {
    width: 380px;
  }
  .button-wrap {
    padding: 15px 0;
  }
  .gutter-5-xs.container-fluid {
    padding-left: 5px;
    padding-right: 5px;
  }
  .gutter-5-xs .row {
    margin-left: -5px;
    margin-right: -5px;
  }
  .gutter-5-xs .col-xs-1,
  .gutter-5-xs .col-sm-1,
  .gutter-5-xs .col-md-1,
  .gutter-5-xs .col-lg-1,
  .gutter-5-xs .col-xs-2,
  .gutter-5-xs .col-sm-2,
  .gutter-5-xs .col-md-2,
  .gutter-5-xs .col-lg-2,
  .gutter-5-xs .col-xs-3,
  .gutter-5-xs .col-sm-3,
  .gutter-5-xs .col-md-3,
  .gutter-5-xs .col-lg-3,
  .gutter-5-xs .col-xs-4,
  .gutter-5-xs .col-sm-4,
  .gutter-5-xs .col-md-4,
  .gutter-5-xs .col-lg-4,
  .gutter-5-xs .col-xs-5,
  .gutter-5-xs .col-sm-5,
  .gutter-5-xs .col-md-5,
  .gutter-5-xs .col-lg-5,
  .gutter-5-xs .col-xs-6,
  .gutter-5-xs .col-sm-6,
  .gutter-5-xs .col-md-6,
  .gutter-5-xs .col-lg-6,
  .gutter-5-xs .col-xs-7,
  .gutter-5-xs .col-sm-7,
  .gutter-5-xs .col-md-7,
  .gutter-5-xs .col-lg-7,
  .gutter-5-xs .col-xs-8,
  .gutter-5-xs .col-sm-8,
  .gutter-5-xs .col-md-8,
  .gutter-5-xs .col-lg-8,
  .gutter-5-xs .col-xs-9,
  .gutter-5-xs .col-sm-9,
  .gutter-5-xs .col-md-9,
  .gutter-5-xs .col-lg-9,
  .gutter-5-xs .col-xs-10,
  .gutter-5-xs .col-sm-10,
  .gutter-5-xs .col-md-10,
  .gutter-5-xs .col-lg-10,
  .gutter-5-xs .col-xs-11,
  .gutter-5-xs .col-sm-11,
  .gutter-5-xs .col-md-11,
  .gutter-5-xs .col-lg-11,
  .gutter-5-xs .col-xs-12,
  .gutter-5-xs .col-sm-12,
  .gutter-5-xs .col-md-12,
  .gutter-5-xs .col-lg-12 {
    padding-left: 5px;
    padding-right: 5px;
  }
}
