header {
  width: 100%;
}
header .logo-wrap {
  margin-left: 40px;
  float: left;
}
header .head-nav {
  float: right;
}
header .head-nav .phone-number {
  margin-left: 15px;
  display: inline-block;
}
header .head-nav a,
header .head-nav .phone-number {
  font-size: 18px;
  line-height: 26px;
  margin: 0 20px;
}
header .head-nav .phone-number {
  padding: 6px 12px;
  margin-right: 40px;
}
header .head-nav a {
  color: #f0f2e7;
}
header .head-nav a.btn:hover,
header .head-nav a.btn:focus {
  color: #f0f2e7;
}
header .head-nav a.btn.btn-primary {
  width: 180px;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
}
header .head-nav a.btn.btn-primary:hover,
header .head-nav a.btn.btn-primary:focus {
  color: #ffffff;
}
header .head-nav .btn {
  text-transform: uppercase;
  font-weight: 300;
}
header .head-nav .btn.btn-link {
  background-color: transparent;
}
header .head-nav .btn.btn-hollow {
  background-color: transparent;
  border-color: #f0f2e7;
  width: 180px;
}
header .head-nav .btn.btn-hollow:hover {
  background-color: rgba(59, 171, 186, 0.5);
  border-color: rgba(255, 255, 255, 0.4);
}
@media screen and (max-width: 767px) {
  header .logo-wrap {
    margin-left: 5%;
  }
}
.fix-header header {
  position: absolute;
}
.fix-header header .logo-wrap {
  margin-top: 25px;
}
.fix-header header .head-nav {
  margin-top: 20px;
}
header.white-header {
  padding: 20px 0 20px;
  box-shadow: 0 1px 4px #B6BFBF;
  background: rgba(252, 252, 252, 0.92);
  color: #777C7C;
  overflow: hidden;
}
header.white-header .head-nav a {
  color: #777C7C;
}
header.white-header .head-nav a.btn:hover,
header.white-header .head-nav a.btn:focus {
  color: #777C7C;
}
header.white-header .head-nav a.btn:hover.btn-primary,
header.white-header .head-nav a.btn:focus.btn-primary {
  color: #ffffff;
}
header.white-header .logo-wrap {
  padding-top: 5px;
}
.floating-header header {
  position: fixed;
  top: -100%;
  z-index: 1;
}
.flow-body header .head-nav {
  font-size: 24px;
}
.flow-body header .head-nav p {
  margin: 0;
}
