section .btn.btn-primary {
  width: 260px;
  margin-bottom: 40px;
}
section .container-fluid {
  width: 1070px;
  max-width: 97%;
}
h1 {
  font-size: 48px;
  letter-spacing: -1px;
  font-weight: 300;
  color: #08708A;
  margin-top: 80px;
  margin-bottom: 40px;
}
h1,
h3 {
  font-weight: 300;
}
section#intro {
  text-align: center;
  min-height: 730px;
  background-image: url("img/bg/background_home_test-dark.jpg");
}
section#why-us {
  min-height: 630px;
}
section#book-us {
  min-height: 680px;
  overflow-x: hidden;
}
section#intro p {
  font-style: italic;
}
section#intro p a,
section#intro .p a {
  color: #f0f2e7;
}
section#intro .dropdown-menu {
  background-color: rgba(8, 112, 138, 0.85);
  padding: 6px 12px;
}
section#intro .city-dropdown-toggle {
  font-size: inherit;
}
section#intro .container-fluid {
  width: 600px;
}
section#intro h1 {
  text-transform: uppercase;
  margin-top: 210px;
}
section#intro .btn {
  margin-top: 65px;
}
section#intro .btn.city-dropdown-toggle {
  margin-top: 7px;
}
section#why-us h1 {
  text-align: center;
}
section#why-us p {
  margin-top: 20px;
}
section#book-us {
  text-align: right;
}
section#prices {
  min-height: 757px;
  background-image: url("img/bg/background_home_price_dark.jpg");
}
section:nth-child(odd) {
  background-position: center;
  background-size: cover;
}
section#book-us .col-sm-6 > * {
  margin-right: 25px;
}
section#prices .col-sm-6 > * {
  margin-left: 25px;
}
#why-us .fact,
#why-us .icon-wrap {
  float: left;
}
#why-us h3 {
  font-size: 34px;
  color: #08708A;
  margin-top: 7px;
}
#why-us .fact {
  padding-left: 25px;
  width: 80%;
}
#why-us .icon-wrap {
  text-align: right;
  width: 20%;
}
#why-us .icon-wrap img {
  max-width: 100%;
}
#why-us p {
  font-size: 22px;
}
p,
.p {
  font-size: 24px;
  margin-top: 40px;
  margin-bottom: 40px;
  color: #585b57;
}
section:nth-child(odd) p,
section:nth-child(odd) .p,
section:nth-child(odd) h1 {
  color: #f0f2e7;
}
section#book-us .details p {
  margin-top: 0;
  margin-bottom: 20px;
}
section#book-us .details {
  margin-bottom: 40px;
}
section .details h5 {
  margin-bottom: 0;
  color: #BEBFB6;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
}
section#intro .dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.3em;
  vertical-align: middle;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-left: 0.3em solid transparent;
}
@media screen and (max-width: 767px) {
  #why-us .fact {
    width: 85%;
  }
  #why-us .icon-wrap {
    width: 15%;
  }
  section#book-us {
    text-align: left;
  }
  section#prices .btn-primary,
  section#book-us .btn-primary {
    width: 100%;
  }
  section#book-us .col-sm-6 > * {
    margin-right: 0;
  }
  section#prices .col-sm-6 > * {
    margin-left: 0;
  }
  section .container-fluid {
    width: 700px;
    max-width: 94%;
  }
}
