body {
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #585b57;
  min-height: 100%;
  height: 100%;
}
html,
body {
  height: 100%;
}
section.container.container-600-lg {
  width: 600px;
  min-height: calc(-237%);
  margin-bottom: 80px;
}
.container-600-lg p {
  font-size: 22px;
}
section.container-fluid.container-760-lg {
  margin-top: 40px;
}
.container-fluid.container-760-lg {
  width: 760px;
}
section.container-fluid.container-760-lg .col-sm-6 {
  padding: 0 40px;
}
.choice {
  width: 100%;
  height: 160px;
}
.choice img {
  margin: 22px auto 28px;
}
.button-wrap {
  padding: 20px 5px;
}
.btn.choice.btn-default {
  border-radius: 0;
  border: 4px solid #DFDFDF;
}
.btn.choice.btn-default:hover {
  background-color: #F0F2E7;
  border: 4px solid #BEBFB6;
}
.choice-text {
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: #032B2F;
  line-height: 1em;
  text-align: center;
}
.color-choice {
  display: table;
}
p.choice-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  white-space: normal;
  line-height: 1.4em;
}
a.choice-link {
  text-decoration: none !important;
}
.color-circle {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
  margin: auto;
}
.color-circle-gold {
  background-color: #d4bba3;
}
.color-circle-silver {
  background-color: #d0d0d4;
}
.color-circle-space_gray {
  background-color: #9b9ba0;
}
.color-circle-rose_gold {
  background-color: #d0a8a0;
}
.color-circle-jet_black {
  background-color: #000000;
  box-shadow: inset 0 2px 3px rgba(255, 255, 255, 0.6);
}
.color-circle-red {
  background-color: #B44848;
}
.color-circle-white {
  background-color: #ffffff;
}
.color-circle-black {
  box-shadow: inset 0 2px 3px rgba(255, 255, 255, 0.6);
  background-color: #111111;
}
.color-circle-black.mdl7,
.color-circle-black.mdl7-plus {
  background-color: #4c4e54;
}
.color-circle-blue {
  background-color: #47b2e3;
}
.color-circle-green {
  background-color: #9ad439;
}
.color-circle-yellow {
  background-color: #f1ef29;
}
.color-circle-pink {
  background-color: #fd6e70;
}
.order-summary {
  font-size: 22px;
}
.order-summary h4 {
  text-transform: uppercase;
  margin-top: 0;
}
.order-summary table {
  line-height: 36px;
}
.order-summary table td.key {
  font-size: 18px;
  width: 100px;
}
.order-summary table td.val {
  font-size: 20px;
  color: #08708A;
}
.order-summary table td.val.details {
  padding-top: 20px;
  color: #585b57;
  font-size: 15px;
  line-height: 22px;
}
.order-summary h5,
.order-summary p {
  font-weight: 300;
  font-size: 18px;
}
.order-summary p {
  color: #08708A;
  margin-left: 10px;
}
.back-arrow {
  float: left;
  height: 100%;
}
.btn.btn-primary {
  text-transform: uppercase;
  background-color: #3BABBA;
  font-size: 20px;
  line-height: 46px;
  font-weight: 300;
  border-color: #f0f2e7;
  color: #ffffff;
}
.btn.btn-primary:hover:active {
  border-color: #97DDE7;
}
.btn.btn-primary:hover {
  background-color: rgba(59, 171, 186, 0.5);
}
footer.main-footer a {
  font-size: 18px;
  margin: 0 20px;
  color: #f0f2e7;
}
footer.main-footer #copyright {
  font-size: 16px;
  color: #f0f2e7;
}
footer.main-footer #footer-nav {
  padding: 40px 0;
}
footer.main-footer #copyright {
  padding: 0 0 40px;
  margin-bottom: 0;
}
footer.main-footer {
  background-color: #4B5050;
  text-align: center;
}
.gutter-5.container-fluid {
  padding-left: 5px;
  padding-right: 5px;
}
.gutter-5 .row {
  margin-left: -5px;
  margin-right: -5px;
}
.gutter-5 .col-xs-1,
.gutter-5 .col-sm-1,
.gutter-5 .col-md-1,
.gutter-5 .col-lg-1,
.gutter-5 .col-xs-2,
.gutter-5 .col-sm-2,
.gutter-5 .col-md-2,
.gutter-5 .col-lg-2,
.gutter-5 .col-xs-3,
.gutter-5 .col-sm-3,
.gutter-5 .col-md-3,
.gutter-5 .col-lg-3,
.gutter-5 .col-xs-4,
.gutter-5 .col-sm-4,
.gutter-5 .col-md-4,
.gutter-5 .col-lg-4,
.gutter-5 .col-xs-5,
.gutter-5 .col-sm-5,
.gutter-5 .col-md-5,
.gutter-5 .col-lg-5,
.gutter-5 .col-xs-6,
.gutter-5 .col-sm-6,
.gutter-5 .col-md-6,
.gutter-5 .col-lg-6,
.gutter-5 .col-xs-7,
.gutter-5 .col-sm-7,
.gutter-5 .col-md-7,
.gutter-5 .col-lg-7,
.gutter-5 .col-xs-8,
.gutter-5 .col-sm-8,
.gutter-5 .col-md-8,
.gutter-5 .col-lg-8,
.gutter-5 .col-xs-9,
.gutter-5 .col-sm-9,
.gutter-5 .col-md-9,
.gutter-5 .col-lg-9,
.gutter-5 .col-xs-10,
.gutter-5 .col-sm-10,
.gutter-5 .col-md-10,
.gutter-5 .col-lg-10,
.gutter-5 .col-xs-11,
.gutter-5 .col-sm-11,
.gutter-5 .col-md-11,
.gutter-5 .col-lg-11,
.gutter-5 .col-xs-12,
.gutter-5 .col-sm-12,
.gutter-5 .col-md-12,
.gutter-5 .col-lg-12 {
  padding-left: 5px;
  padding-right: 5px;
}
.open > .btn.btn-danger.dropdown-toggle,
.btn.btn-danger.dropdown-toggle {
  padding: 0 0 14px;
}
.open > .btn.btn-danger.dropdown-toggle,
.btn.btn-danger.dropdown-toggle,
.dropdown-item {
  color: inherit;
  font-weight: inherit;
  background-color: transparent;
  border-color: transparent;
}
.thin-underline {
  border-bottom: 1px solid #fff;
}
.dropdown-menu {
  min-width: 0;
  font-size: inherit;
  color: inherit;
}
.dropdown-item {
  font-size: inherit;
  line-height: 1.2em;
}
@media screen and (max-width: 767px) {
  footer.main-footer #footer-nav a {
    display: block;
    text-align: left;
    margin-bottom: 20px;
    padding-left: 28%;
  }
  footer.main-footer #footer-nav a:last-child {
    margin-bottom: 0;
  }
  section.container.container-380-sm {
    margin-bottom: 40px;
    min-height: calc(-338%);
  }
  section.container.container-380-sm,
  section.container-fluid.container-760-lg {
    width: 380px;
  }
  .button-wrap {
    padding: 15px 0;
  }
  .gutter-5-xs.container-fluid {
    padding-left: 5px;
    padding-right: 5px;
  }
  .gutter-5-xs .row {
    margin-left: -5px;
    margin-right: -5px;
  }
  .gutter-5-xs .col-xs-1,
  .gutter-5-xs .col-sm-1,
  .gutter-5-xs .col-md-1,
  .gutter-5-xs .col-lg-1,
  .gutter-5-xs .col-xs-2,
  .gutter-5-xs .col-sm-2,
  .gutter-5-xs .col-md-2,
  .gutter-5-xs .col-lg-2,
  .gutter-5-xs .col-xs-3,
  .gutter-5-xs .col-sm-3,
  .gutter-5-xs .col-md-3,
  .gutter-5-xs .col-lg-3,
  .gutter-5-xs .col-xs-4,
  .gutter-5-xs .col-sm-4,
  .gutter-5-xs .col-md-4,
  .gutter-5-xs .col-lg-4,
  .gutter-5-xs .col-xs-5,
  .gutter-5-xs .col-sm-5,
  .gutter-5-xs .col-md-5,
  .gutter-5-xs .col-lg-5,
  .gutter-5-xs .col-xs-6,
  .gutter-5-xs .col-sm-6,
  .gutter-5-xs .col-md-6,
  .gutter-5-xs .col-lg-6,
  .gutter-5-xs .col-xs-7,
  .gutter-5-xs .col-sm-7,
  .gutter-5-xs .col-md-7,
  .gutter-5-xs .col-lg-7,
  .gutter-5-xs .col-xs-8,
  .gutter-5-xs .col-sm-8,
  .gutter-5-xs .col-md-8,
  .gutter-5-xs .col-lg-8,
  .gutter-5-xs .col-xs-9,
  .gutter-5-xs .col-sm-9,
  .gutter-5-xs .col-md-9,
  .gutter-5-xs .col-lg-9,
  .gutter-5-xs .col-xs-10,
  .gutter-5-xs .col-sm-10,
  .gutter-5-xs .col-md-10,
  .gutter-5-xs .col-lg-10,
  .gutter-5-xs .col-xs-11,
  .gutter-5-xs .col-sm-11,
  .gutter-5-xs .col-md-11,
  .gutter-5-xs .col-lg-11,
  .gutter-5-xs .col-xs-12,
  .gutter-5-xs .col-sm-12,
  .gutter-5-xs .col-md-12,
  .gutter-5-xs .col-lg-12 {
    padding-left: 5px;
    padding-right: 5px;
  }
}
.flow-body section.with-footer {
  margin: 40px auto 0;
  padding-bottom: 120px;
}
.flow-body h1 {
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-size: 48px;
  font-weight: 300;
  margin: 40px auto 20px;
  text-align: center;
  color: #032b2f;
}
.flow-body h1 b {
  font-weight: 900;
  color: #3BABBA;
}
.flow-body h3 {
  width: 600px;
  margin: 0 auto;
  text-align: center;
  font-weight: 300;
  font-size: 20px;
  line-height: 36px;
}
.flow-body h4,
.flow-body label {
  font-size: 20px;
  font-weight: 300;
}
.flow-body #copyright {
  text-align: center;
  margin: 20px auto;
}
.flow-body .ir-box {
  border: 1px solid #BEBFB6;
  border-radius: 4px;
  padding: 10px;
}
.flow-body #price-includes {
  font-size: 20px;
}
.flow-body #price-includes h4 {
  font-size: 18px;
  margin: 0 0 4px;
}
.flow-body #price-includes ul {
  padding: 0 25px;
}
.flow-body .disclaimer {
  margin-top: 35px;
}
.flow-body .disclaimer .ir-box {
  font-size: 16px;
}
.flow-body .main-info form {
  margin-top: 29px;
}
.flow-body form .form-group input,
.flow-body form .form-group textarea {
  height: 60px;
  border-color: #08708A;
  font-size: 20px;
}
.flow-body form .form-group.has-error .form-control {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.flow-body form .form-group textarea {
  height: 120px;
  padding: 16px;
}
.flow-body form .form-group .opt {
  color: #BEBFB6;
}
.flow-body form button {
  width: 100%;
  margin: 25px 0;
}
.flow-body h2.price {
  margin-top: 0;
  font-size: 48px;
  color: #3BABBA;
  font-weight: 900;
}
.flow-body h2.price small {
  font-size: 18px;
  font-weight: 300;
  color: #3BABBA;
}
.flow-body h2.price currency {
  font-weight: 100;
  font-size: 0.75em;
}
@media screen and (max-width: 767px) {
  .flow-body h1 {
    line-height: 1.40;
    font-size: 40px;
    margin: 40px 20px 25px;
  }
  .flow-body h3 {
    width: 380px;
  }
}
footer.flow-footer {
  position: fixed;
  bottom: 0;
  background-color: #f8f7f9;
  width: 100%;
  height: 120px;
}
footer.flow-footer .choice-text {
  font-size: 18px;
}
footer.flow-footer .back-arrow {
  font-size: 120px;
  line-height: 1em;
  margin-left: 5%;
  width: 12.5%;
  float: left;
}
footer.flow-footer .flow-choice {
  float: left;
  width: 18%;
}
footer.flow-footer .price-flow {
  width: 21%;
  margin-right: 40px;
}
footer.flow-footer .back-arrow .fa.fa-caret-left {
  color: #BEBFB6;
  padding: 0 30px 0 15px;
}
footer.flow-footer .back-arrow .fa.fa-caret-left:hover {
  color: #9EA099;
  background-color: #BEBFB6;
}
footer.flow-footer .flowstate {
  text-align: center;
}
footer.flow-footer img {
  margin: 20px auto 3px;
}
footer.flow-footer .color-circle {
  height: 32px;
  width: 32px;
  margin: 34px auto 25px;
}
footer.flow-footer .choice-text {
  margin: 10px auto 15px;
}
footer.flow-footer h2 {
  margin: 25px 0 0 5px;
  font-size: 46px;
  font-weight: 900;
  color: #3BABBA;
  text-align: right;
  /*width: 120px;*/
}
footer.flow-footer h2 currency {
  font-weight: 100;
  font-size: 40px;
}
footer.flow-footer .small {
  text-align: right;
  font-size: 16px;
  color: #08708A;
  line-height: 1em;
}
footer.flow-footer button {
  margin: 30px 20px;
  width: 220px;
  font-size: 200%;
}
@media screen and (max-width: 767px) {
  footer.flow-footer .flowstate {
    width: 84%;
  }
  footer.flow-footer .back-arrow {
    margin: 10px 0;
    width: 16%;
    font-size: 100px;
    line-height: 1em;
    text-align: center;
  }
  footer.flow-footer .flow-choice {
    float: left;
    width: 28%;
  }
  footer.flow-footer .choice-text {
    font-size: 16px;
  }
}
#home section .btn.btn-primary {
  width: 260px;
  margin-bottom: 40px;
}
#home section .container-fluid {
  width: 1070px;
  max-width: 97%;
}
#home h1 {
  font-size: 48px;
  letter-spacing: -1px;
  font-weight: 300;
  color: #08708A;
  margin-top: 80px;
  margin-bottom: 40px;
}
#home h1,
#home h3 {
  font-weight: 300;
}
#home section#intro {
  text-align: center;
  min-height: 730px;
  background-image: url("img/bg/background_home_test-dark.jpg");
}
#home section#why-us {
  min-height: 630px;
}
#home section#book-us {
  min-height: 680px;
  overflow-x: hidden;
}
#home section#intro p {
  font-style: italic;
}
#home section#intro p a,
#home section#intro .p a {
  color: #f0f2e7;
}
#home section#intro .dropdown-menu {
  background-color: rgba(8, 112, 138, 0.85);
  padding: 6px 12px;
}
#home section#intro .city-dropdown-toggle {
  font-size: inherit;
}
#home section#intro .container-fluid {
  width: 600px;
}
#home section#intro h1 {
  text-transform: uppercase;
  margin-top: 210px;
}
#home section#intro .btn {
  margin-top: 65px;
}
#home section#intro .btn.city-dropdown-toggle {
  margin-top: 7px;
}
#home section#why-us h1 {
  text-align: center;
}
#home section#why-us p {
  margin-top: 20px;
}
#home section#book-us {
  text-align: right;
}
#home section#prices {
  min-height: 757px;
  background-image: url("img/bg/background_home_price_dark.jpg");
}
#home section:nth-child(odd) {
  background-position: center;
  background-size: cover;
}
#home section#book-us .col-sm-6 > * {
  margin-right: 25px;
}
#home section#prices .col-sm-6 > * {
  margin-left: 25px;
}
#home #why-us .fact,
#home #why-us .icon-wrap {
  float: left;
}
#home #why-us h3 {
  font-size: 34px;
  color: #08708A;
  margin-top: 7px;
}
#home #why-us .fact {
  padding-left: 25px;
  width: 80%;
}
#home #why-us .icon-wrap {
  text-align: right;
  width: 20%;
}
#home #why-us .icon-wrap img {
  max-width: 100%;
}
#home #why-us p {
  font-size: 22px;
}
#home p,
#home .p {
  font-size: 24px;
  margin-top: 40px;
  margin-bottom: 40px;
  color: #585b57;
}
#home section:nth-child(odd) p,
#home section:nth-child(odd) .p,
#home section:nth-child(odd) h1 {
  color: #f0f2e7;
}
#home section#book-us .details p {
  margin-top: 0;
  margin-bottom: 20px;
}
#home section#book-us .details {
  margin-bottom: 40px;
}
#home section .details h5 {
  margin-bottom: 0;
  color: #BEBFB6;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
}
#home section#intro .dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.3em;
  vertical-align: middle;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-left: 0.3em solid transparent;
}
@media screen and (max-width: 767px) {
  #home #why-us .fact {
    width: 85%;
  }
  #home #why-us .icon-wrap {
    width: 15%;
  }
  #home section#book-us {
    text-align: left;
  }
  #home section#prices .btn-primary,
  #home section#book-us .btn-primary {
    width: 100%;
  }
  #home section#book-us .col-sm-6 > * {
    margin-right: 0;
  }
  #home section#prices .col-sm-6 > * {
    margin-left: 0;
  }
  #home section .container-fluid {
    width: 700px;
    max-width: 94%;
  }
}
header {
  width: 100%;
}
header .logo-wrap {
  margin-left: 40px;
  float: left;
}
header .head-nav {
  float: right;
}
header .head-nav .phone-number {
  margin-left: 15px;
  display: inline-block;
}
header .head-nav a,
header .head-nav .phone-number {
  font-size: 18px;
  line-height: 26px;
  margin: 0 20px;
}
header .head-nav .phone-number {
  padding: 6px 12px;
  margin-right: 40px;
}
header .head-nav a {
  color: #f0f2e7;
}
header .head-nav a.btn:hover,
header .head-nav a.btn:focus {
  color: #f0f2e7;
}
header .head-nav a.btn.btn-primary {
  width: 180px;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
}
header .head-nav a.btn.btn-primary:hover,
header .head-nav a.btn.btn-primary:focus {
  color: #ffffff;
}
header .head-nav .btn {
  text-transform: uppercase;
  font-weight: 300;
}
header .head-nav .btn.btn-link {
  background-color: transparent;
}
header .head-nav .btn.btn-hollow {
  background-color: transparent;
  border-color: #f0f2e7;
  width: 180px;
}
header .head-nav .btn.btn-hollow:hover {
  background-color: rgba(59, 171, 186, 0.5);
  border-color: rgba(255, 255, 255, 0.4);
}
@media screen and (max-width: 767px) {
  header .logo-wrap {
    margin-left: 5%;
  }
}
.fix-header header {
  position: absolute;
}
.fix-header header .logo-wrap {
  margin-top: 25px;
}
.fix-header header .head-nav {
  margin-top: 20px;
}
header.white-header {
  padding: 20px 0 20px;
  box-shadow: 0 1px 4px #B6BFBF;
  background: rgba(252, 252, 252, 0.92);
  color: #777C7C;
  overflow: hidden;
}
header.white-header .head-nav a {
  color: #777C7C;
}
header.white-header .head-nav a.btn:hover,
header.white-header .head-nav a.btn:focus {
  color: #777C7C;
}
header.white-header .head-nav a.btn:hover.btn-primary,
header.white-header .head-nav a.btn:focus.btn-primary {
  color: #ffffff;
}
header.white-header .logo-wrap {
  padding-top: 5px;
}
.floating-header header {
  position: fixed;
  top: -100%;
  z-index: 1;
}
.flow-body header .head-nav {
  font-size: 24px;
}
.flow-body header .head-nav p {
  margin: 0;
}
