{% extends 'admin/layout.html' %}

{% block content %}
    <div class="container">
        <h1>Dashboard</h1>
        <h2>Lists</h2>
        <ul>
            {% for model_name in model_names %}
                <li><a href="{{ url_for('admin_models', model=model_name) }}">{{model_name.title()}} List</a></li>
            {% endfor %}
        </ul>
        <h2>Special Links</h2>
        <ul>
            <li><a href="{{ url_for('admin_generate_products') }}">Generate Products</a></li>
            <li><a href="{{ url_for('admin_sync_pipedrive_products') }}">Send Products to pipedrive (those yet to be sent)</a></li>
        </ul>
    </div>
{% endblock %}