{% extends 'admin/layout.html' %}

{% block content %}
    <div class="container">
        <h1>Edit {{ model_class.__name__ }}: {{ object|string }}</h1>
        {% include 'admin/components/basic_form.html' with context %}
    </div>
{% endblock %}