<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>translations</title>
    {% set is_editable='sng' %}
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
    <style>
        .td, .th {
            border: 1px double lightsalmon;
            padding: 0.5em;
            display: table-cell;

        }

        .edit-cell {
            width: 5%;
            min-width: 30px;
            text-align: center;
        }

        .key_col {
            width: 15%;
        }

        .table {
            display: table;
            margin: 0 2.5%;
        }
        .tr {
            display: table-row;
        }
        .thead, .tbody {
            display: table-row-group;
        }
{#        .handle {#}
{#            text-align: center;#}
{#        }#}
        .fixed-help-box {
            position: absolute;
            top: 0;
            left: 0;
            border: 1px solid greenyellow;
            padding: 8px;
        }
        .objects-list {
            margin-top: 10px;
        }
    </style>
</head>
<body>
{% block content %}
{% endblock %}

<script src="{{ url_for('static', filename='js/jquery-3.1.min.js') }}"></script>
{# maybe https://github.com/RubaXa/Sortable? #}
{#<script src="{{ url_for('static', filename='js/html.sortable.min.js') }}"></script>#}
<script src="{{ url_for('static', filename='admin.js') }}"></script>
{% include 'components/editjs.html' %}

{% block js %}
{#    <script>#}
{#        sortable('.sort-me', {#}
{#            handle: '.handle',#}
{#            items: ".tr",#}
{#            forcePlaceholderSize: true#}
{#        })#}
{#    </script>#}
{% endblock %}
</body>