{% extends 'admin/layout.html' %}

{% block content %}
    <div class="help-block fixed-help-box">
        <p>Double click on a row to edit it inline</p>
    </div>
    <div class="container">
        <div class="table objects-list">
            <div class="thead">
                <div class="tr">
                    {% for field in form if field.name != 'csrf_token' and field.widget.input_type != 'hidden' %}
                        <span class="th">{{ field.label }}</span>
                    {% endfor %}
{#                    {% if form.order_number %}#}
{#                        <span class="th">SORT</span>#}
{#                    {% endif %}#}
                    <span class="th edit-cell">EDIT</span>
                </div>
            </div>
            <div class="tbody sort-me">
                {% for object in objects %}
                    <div class="tr" data-dbl-click-load="{{ url_for('admin_model_edit', model=model, id=object.id) }}">
                        {% for field in form if field.name != 'csrf_token' and field.widget.input_type != 'hidden' %}
                            <span class="td">{{ field_parser(object[field.name] or '')|safe }}</span>
                        {% endfor %}
{#                        {% if form.order_number %}#}
{#                            <span class="td handle"><i class="fa fa-arrows-v fa-2x"></i></span>#}
{#                        {% endif %}#}
                        <span class="td edit-cell">
                         <a href="{{ url_for('admin_model_edit', model=model, id=object.id) }}" target="_blank">
                             <i class="fa fa-edit fa-2x"></i>
                         </a>
                     </span>
                    </div>
                {% endfor %}
            </div>
            <div class="tbody">
                <form class="tr" method="post" enctype='multipart/form-data'>
                    {% for field in form if field.name != 'csrf_token' and field.widget.input_type != 'hidden' %}
                        <span class="td">{{ field() }}</span>
                    {% endfor %}
                    <span class="td">
                        <button>SUBMIT</button>
                    </span>
{#                        {% if form.order_number %}#}
                    <input type="hidden" name="order_number" value="{{ objects|length + 1 }}"/>
{#                        {% endif %}#}
                </form>
            </div>
        </div>
    </div>
{#    <pre>{{ request|pprint }}#}
{#    {{ request.__dict__|pprint }}#}
{#    {{ request.base_url|pprint }}</pre>#}

{% endblock %}

{% block js %}
    {{ super() }}
    <script>
{#        sortable('.sort-me')[0].addEventListener('sortupdate', function (e) {#}
{#            console.log('{{ request.base_url }}')#}
{#            console.log(e)#}
{#            window.sortupdateEvt = e;#}
{#        });#}
    </script>
{% endblock %}