header {
  width: 100%;
  .logo-wrap {
    margin-left: 40px;
    float: left;
  }
  .head-nav {
    float: right;
    .phone-number {
      margin-left: 15px;
      display: inline-block;
    }
    a, .phone-number {
      font-size: 18px;
      line-height: 26px;
      margin: 0 20px;
    }
    .phone-number {
      padding: 6px 12px; // Copied from .btn
      margin-right: 40px;
    }
    a {
      color: #f0f2e7;
      &.btn:hover, &.btn:focus {
        color: #f0f2e7;
      }
      &.btn.btn-primary {
        width: 180px;
        font-size: 18px;
        line-height: 26px;
        color: #ffffff;
        &:hover, &:focus {
          color: #ffffff;
        }
      }
    }
    .btn {
      text-transform: uppercase;
      font-weight: 300;
    }
    .btn.btn-link {
      background-color: transparent;
    }
    .btn.btn-hollow {
      background-color: transparent;
      border-color: #f0f2e7;
      width: 180px;
    }
    .btn.btn-hollow:hover {
      background-color: rgba(59, 171, 186, 0.5);
      border-color: rgba(255, 255, 255, 0.4);
    }
  }

  @media screen and (max-width: 767px) {
    .logo-wrap {
      margin-left: 5%;
    }
  }
}

.fix-header header {
  position: absolute;
  .logo-wrap {
    margin-top: 25px;
  }
  .head-nav {
    margin-top: 20px;
  }
}

header.white-header {
  padding: 20px 0 20px;
  box-shadow: 0 1px 4px #B6BFBF;
  background: rgba(252, 252, 252, 0.92);
  color: #777C7C;
  overflow: hidden;
  .head-nav a {
    color: #777C7C;
    &.btn:hover, &.btn:focus {
      color: #777C7C;
      &.btn-primary {
          color: #ffffff;
      }
    }
  }
  .logo-wrap {
    padding-top: 5px;
  }
}

.floating-header header {
  position: fixed;
  top: -100%;
  z-index: 1;
}

.flow-body {
  header .head-nav {
    font-size: 24px;
    p {
      margin: 0;
    }
  }
}