{% extends 'layout_flow.html' %}

{% block meta %}
  <title>{{ site.name }} - {{ 'About us'|trans(lang, gen_entry=True) }}</title>
    {#        ToDo: after having modified the translation, remove the "replace(' {CITY}'" part#}
  <meta name="description" content="{{ 'iRepair Berlin - About us'|trans(lang, gen_entry=True)|replace(' {CITY}', '') }}">
{% endblock %}

{% block content %}
  <section class="container container-600-lg container-380-sm">
    <h1>{{ 'About us'|trans(lang, is_editable) }}</h1>
    <p>{{ 'about_us_p1'|trans(lang, is_editable) }}</p>
    <p>{{ 'about_us_p2'|trans(lang, is_editable) }}</p>
  </section>
  {% include 'main_footer.html' %}
{% endblock %}