{% extends 'layout_flow.html' %}

{% block meta %}
    {% set replace_dict = {'{MODEL}': model.name,
                           '{REPAIR}': (defect.slug + '_SEO')|trans(lang, gen_entry=True),
                           '{LOCATION}': (location + '-for-meta')|trans(lang, gen_entry=True)} %}
    <title>
        {{- 'meta_title_confirm{MODEL}{REPAIR}{LOCATION}'|trans(lang, gen_entry=True)|dict_replace(replace_dict) -}}
    </title>
    <meta name="description"
          content="{{ 'meta_description_confirm{MODEL}{REPAIR}{LOCATION}'|trans(lang, gen_entry=True)|dict_replace(replace_dict) }}">
    <meta property="og:title"
          content="{{- 'meta_title_confirm{MODEL}{REPAIR}{LOCATION}'|trans(lang, gen_entry=True)|dict_replace(replace_dict) -}}">
    <meta property="og:description"
          content="{{ 'meta_description_confirm{MODEL}{REPAIR}{LOCATION}'|trans(lang, gen_entry=True)|dict_replace(replace_dict) }}">

    <meta name="robots" content="noindex,nofollow">
{% endblock %}

{% block footer_scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js"></script>
{% endblock %}

{% block content %}
    {% if defect.slug != 'other' %}
        <h1><b>{{ person.first_name }}</b>, {{ 'We received your <b>order</b>!'|trans(lang, is_editable) }}</h1>
        <h3>{{ 'confirm_main_h3'|trans(lang, is_editable) }}</h3>
    {% else %}
        <h1><b>{{ person.first_name }}</b>, {{ 'We received your <b>order</b>!_other'|trans(lang, is_editable) }}
        </h1>
        <h3>{{ 'confirm_main_h3_other'|trans(lang, is_editable) }}</h3>
    {% endif %}
    <section class="container-fluid container-760-lg">
        <div class="row">
            <div class="col-sm-6 col-xs-12 order-summary">
                <h4>{{ 'Order Summary'|trans(lang, is_editable) }}</h4>
                <div class="ir-box">
                    <table>
                        <tr>
                            <td class="key">{{ 'Model'|trans(lang, is_editable) }}</td>
                            <td class="val">iPhone {{ model.name }}</td>
                        </tr>
                        <tr>
                            <td class="key">{{ 'Damage'|trans(lang, is_editable) }}</td>
                            <td class="val">{{ defect.slug|trans(lang, is_editable) }}</td>
                        </tr>
                        {% if cart_item.color %}
                            <tr>
                                <td class="key">{{ 'Color'|trans(lang, is_editable) }}</td>
                                <td class="val">{{ cart_item.color.name|trans(lang, is_editable) }}</td>
                            </tr>
                        {% endif %}
                        {% if cart_item.price %}
                            <tr>
                                <td class="key">{{ 'Price'|trans(lang, is_editable) }}</td>
                                <td class="val">
                                    <b>{{ cart_item.price }} kr</b>
                                </td>
                            </tr>
                            {% if 'home' in location %}
                                <tr>
                                    <td class="key">{{ 'RUT'|trans(lang, is_editable) }}</td>
                                    <td class="val">
                                        {{- ('RUT applied' if is_rut else 'RUT not applied')|trans(lang, is_editable) -}}
                                    </td>
                                </tr>
                            {% endif %}
                        {% endif %}
                        {% if defect.slug == 'other' %}
                            <tr>
                                <td class="key">{{ 'Details'|trans(lang, is_editable) }}</td>
                                <td class="val details">{{ cart_item.other_details }}</td>
                            </tr>
                        {% endif %}
                    </table>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12 extra-info">
                <form data-toggle="validator" method="post">
                    <fieldset class="form-group">
                        <label for="location">{{ 'Location to meet you'|trans(lang, is_editable) }}</label>
                        <textarea class="form-control" id="meet_location" name="meet_location" required="required"
                                  placeholder="{{ 'Specify your address or coffee shop where we should meet you.'|trans(lang) }}"></textarea>
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="time">{{ 'Date and time'|trans(lang, is_editable) }}</label>
                        <input type="text" class="form-control" id="meet_time" name="meet_time" required="required"
                               placeholder="{{ 'When do you prefer to meet?'|trans(lang) }}">
                    </fieldset>
                    <button type="submit" class="btn btn-primary">{{ 'Book Repair'|trans(lang, is_editable) }}</button>
                </form>
            </div>
        </div>
        <div id="copyright">{{ site.copyright }}</div>
    </section>
{% endblock %}
{% block analytics %}
    {% if email not in ['gpoussif@gmail.com', 'santiagobravo1983@gmail.com'] %}
        {{ super() }}
    {% endif %}
{% endblock %}
