{% extends 'layout_flow.html' %}

{% block meta %}
  <title>{{ 'meta_title_sel_color{MODEL}{REPAIR}'|trans(lang, gen_entry=True)|replace('{MODEL}', model.name)|replace('{REPAIR}', (defect.slug + '_SEO')|trans(lang, gen_entry=True)) }}</title>
  <meta property="og:title" content="{{ 'meta_title_sel_color{MODEL}{REPAIR}'|trans(lang, gen_entry=True)|replace('{MODEL}', model.name)|replace('{REPAIR}', defect.slug|trans(lang)) }}">
{% endblock %}

{% block content %}
  <h1>{{ 'choose_color'|trans(lang, is_editable) }}</h1>
  <section class="container container-600-lg container-380-sm with-footer">
    <div class="row">
      {% for color_slug in model.colors %}
        <div class="col-sm-4 col-xs-6">
          <div class="button-wrap">
            <a class="choice-link"
               href="{{ 'quote'|repair_url(lang, city=city, model=model.slug, defect=defect.slug, color=color_slug) }}">
              <div class="btn btn-default choice">
                <figure class="color-circle color-circle-{{ color_slug }}">&nbsp;</figure>
                <div class="choice-text">{{ color_slug|trans(lang, is_editable) }}</div>
              </div>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
    <div id="copyright">{{ site.copyright }}</div>
  </section>
{% endblock %}