{% extends 'layout_flow.html' %}

{% block meta %}
    {% set replace_dict = {'{MODEL}': model.name, '{REPAIR}': (defect.slug + '_SEO')|trans(lang, gen_entry=True)} %}
    <title>{{ 'meta_title_sel_rut{MODEL}{REPAIR}'|trans(lang, gen_entry=True)|dict_replace(replace_dict) }}</title>
    <meta name="description"
          content="{{ 'meta_description_sel_rut{MODEL}{REPAIR}'|trans(lang, gen_entry=True)|dict_replace(replace_dict) }}">
    <meta property="og:title"
          content="{{ 'meta_title_sel_rut{MODEL}{REPAIR}'|trans(lang, gen_entry=True)|dict_replace(replace_dict) }}">
    <meta property="og:description"
          content="{{ 'meta_description_sel_rut{MODEL}{REPAIR}'|trans(lang, gen_entry=True)|dict_replace(replace_dict) }}">
    <meta name="robots" content="noindex">
{% endblock %}

{% block content %}
    <h1>{{ 'choose_rut'|trans(lang, is_editable) }}</h1>
    <section class="container container-600-lg container-380-sm with-footer">
        <div class="row">
            <div class="col-sm-offset-2 col-sm-4 col-xs-6">
                <div class="button-wrap">
                    <a class="choice-link"
                       href="{{ 'quote'|repair_url(lang, city=city, model=model.slug, defect=defect.slug, location='home-rut') }}">
                      <div class="btn btn-default choice color-choice">
                        <p class="choice-text">{{ 'rut'|trans(lang, is_editable) }}</p>
                      </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-4 col-xs-6">
                <div class="button-wrap">
                    <a class="choice-link"
                       href="{{ 'quote'|repair_url(lang, city=city, model=model.slug, defect=defect.slug, location='home-no-rut') }}">
                      <div class="btn btn-default choice color-choice">
                        <p class="choice-text">{{ 'no-rut'|trans(lang, is_editable) }}</p>
                      </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="disclaimer">
            <h4>{{ 'RUT-clarification-Title'|trans(lang, is_editable) }}</h4>
            <div class="ir-box">
                {{ 'RUT_clarification_text'|trans(lang, is_editable) }}
            </div>
        </div>
        <div id="copyright">{{ site.copyright }}</div>
    </section>
{% endblock %}