{% extends 'layout_flow.html' %}

{% block meta %}
    <title>{{ 'meta_title_sel-city'|trans(lang, gen_entry=True) }}</title>
    <meta property="og:title" content="{{ 'meta_title_sel-city'|trans(lang, gen_entry=True) }}">
    <meta name="description"
          content="{{ 'meta_description_sel-city'|trans(lang, gen_entry=True) }}">
    <meta property="og:title"
          content="{{ 'meta_title_sel-city'|trans(lang, gen_entry=True) }}">
    <meta property="og:description"
          content="{{ 'meta_description_sel-city'|trans(lang, gen_entry=True) }}">

    <meta name="robots" content="index,follow">
{% endblock %}
{% block content %}
    <h1>{{ 'choose_city_h1'|trans(lang, is_editable) }}</h1>
    <section class="container container-600-lg container-380-sm">
        <div class="row">
            {% for city_slug, city in cities_dict.items() %}
                <div class="col-sm-4 col-xs-6">
                    <div class="button-wrap">
                        <a class="choice-link" href="{{ 'choose_model'|repair_url(lang, city=city_slug) }}">
                            <div class="btn btn-default choice color-choice">
                                <p class="choice-text">{{ city.name }}</p>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div id="copyright">{{ site.copyright }}</div>
    </section>
{% endblock %}