{% extends 'layout_flow.html' %}

{% block meta %}
    {% set replace_dict = {'{MODEL}': model.name, '{REPAIR}': (defect.slug + '_SEO')|trans(lang, gen_entry=True)} %}
    <title>{{ 'meta_title_sel_loc{MODEL}{REPAIR}'|trans(lang, gen_entry=True)|dict_replace(replace_dict) }}</title>
    <meta name="description"
          content="{{ 'meta_description_sel_loc{MODEL}{REPAIR}'|trans(lang, gen_entry=True)|dict_replace(replace_dict) }}">
    <meta property="og:title"
          content="{{ 'meta_title_sel_loc{MODEL}{REPAIR}'|trans(lang, gen_entry=True)|dict_replace(replace_dict) }}">
    <meta property="og:description"
          content="{{ 'meta_description_sel_loc{MODEL}{REPAIR}'|trans(lang, gen_entry=True)|dict_replace(replace_dict) }}">
  {% set robots_settings = 'index,follow' if city == site.crawlable_city else 'noindex,nofollow' %}
  <meta name="robots" content="{{ robots_settings }}">
{% endblock %}

{% block content %}
    <h1>{{ 'choose_location'|trans(lang, is_editable) }}</h1>
    <section class="container container-600-lg container-380-sm with-footer">
        <div class="row">
            {% for location in ['home', 'cafe', 'workplace'] %}
                {% if location == 'home' %}
                    {% set url = 'choose_rut'|repair_url(lang, city=city, model=model.slug, defect=defect.slug, home='home') %}
                {% else %}
                    {% set url = 'quote'|repair_url(lang, city=city, model=model.slug, defect=defect.slug, location=location) %}
                {% endif %}
                <div class="col-sm-4 col-xs-6">
                    <div class="button-wrap">
                        <a class="choice-link" href="{{ url }}">
                            <div class="btn btn-default choice color-choice">
                                <p class="choice-text">{{ location|trans(lang, is_editable) }}</p>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div id="copyright">{{ site.copyright }}</div>
    </section>
{% endblock %}