{% extends 'layout_flow.html' %}

{% block meta %}
  <title>{{ 'meta_title_sel_repair{MODEL}'|trans(lang, gen_entry=True)|replace('{MODEL}', model.name) }}</title>
    <meta name="description"
          content="{{ 'meta_title_sel_repair{MODEL}'|trans(lang, gen_entry=True)|replace('{MODEL}', model.name) }}">
    <meta property="og:title"
          content="{{ 'meta_title_sel_repair{MODEL}'|trans(lang, gen_entry=True)|replace('{MODEL}', model.name) }}">
    <meta property="og:description"
          content="{{ 'meta_title_sel_repair{MODEL}'|trans(lang, gen_entry=True)|replace('{MODEL}', model.name) }}">
  {% set robots_settings = 'index,follow' if city == site.crawlable_city else 'noindex,nofollow' %}
  <meta name="robots" content="{{ robots_settings }}">
{% endblock %}

{% block content %}
  <h1>{{ 'choose_defect'|trans(lang, is_editable) }}</h1>
  <section class="container container-600-lg container-380-sm with-footer">
    <div class="row">
      {% for defect in model.defects %}
        <div class="col-sm-4 col-xs-6">
          <div class="button-wrap">
            <a class="choice-link"
               href="{{ 'choose_location'|repair_url(lang, city=city, model=model.slug, defect=defect.slug) }}">
              <div class="btn btn-default choice color-choice">
                <p class="choice-text">{{ defect.slug|trans(lang, is_editable) }}</p>
              </div>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
    <div id="copyright">{{ site.copyright }}</div>
  </section>
{% endblock %}