{% extends 'layout_flow.html' %}

{% block meta %}
  <title>{{ 'meta_title_sel-model'|trans(lang, gen_entry=True) }}</title>
  <meta property="og:title" content="{{ 'meta_title_sel-model'|trans(lang, gen_entry=True) }}">
    <meta name="description"
          content="{{ 'meta_description_sel-model'|trans(lang, gen_entry=True) }}">
    <meta property="og:title"
          content="{{ 'meta_title_sel-model'|trans(lang, gen_entry=True) }}">
    <meta property="og:description"
          content="{{ 'meta_description_sel-model'|trans(lang, gen_entry=True) }}">
  {% set robots_settings = 'index,follow' if city == site.crawlable_city else 'noindex,nofollow' %}
  <meta name="robots" content="{{ robots_settings }}">
{% endblock %}
{% block content %}
  <h1>{{ 'choose_model'|trans(lang, is_editable) }}</h1>
  <section class="container container-600-lg container-380-sm">
    <div class="row">
      {% for model in models %}
        <div class="col-sm-4 col-xs-6">
          <div class="button-wrap">
            <a class="choice-link" href="{{ 'choose_defect'|repair_url(lang, city=city, model=model.slug) }}">
              <div class="btn btn-default choice">
                <img src="{{ url_for('static', filename='img/buttons/') }}iphone-{{ model.slug }}.png">
                <div class="choice-text">{{ model.name }}</div>
              </div>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
    <div id="copyright">{{ site.copyright }}</div>
  </section>
{% endblock %}