{% extends 'layout_flow.html' %}

{% block meta %}
  <title>{{ site.name }} - {{ 'Thanks'|trans(lang, gen_entry=True) }}!</title>
{% endblock %}

{% block content %}
    {% if order.first_cart_item.defect_model.defect.slug != 'other' %}
        <h1>{{ 'Location and time <b>received</b>!'|trans(lang, is_editable) }}</h1>
        <h3>{{ 'thank_<b>loc_and_time</b>_recvd'|trans(lang, is_editable) }}</h3>
    {% else %}
        <h1>{{ 'Location and time <b>received</b>!_other'|trans(lang, is_editable) }}</h1>
        <h3>{{ 'thank_<b>loc_and_time</b>_recvd_other'|trans(lang, is_editable) }}</h3>
    {% endif %}
  <section class="container-fluid container-760-lg">
    <div class="row">
      <div class="{{ '' if order.first_cart_item.defect_model.defect.slug != 'other' else 'col-sm-offset-3 '}}col-sm-6 col-xs-12 order-summary">
        {% if order.first_cart_item.defect_model.defect.slug != 'other' %}
            <h4>{{ 'Order Summary'|trans(lang, is_editable) }}</h4>
        {% else %}
            <h4>{{ 'Order Summary_other'|trans(lang, is_editable) }}</h4>
        {% endif %}
        <div class="ir-box">
          <table>
            <tr><td class="key">{{ 'Model'|trans(lang, is_editable) }}</td>
                <td class="val">iPhone {{ order.first_cart_item.defect_model.name }}</td></tr>
            <tr><td class="key">{{ 'Damage'|trans(lang, is_editable) }}</td>
                <td class="val">{{ order.first_cart_item.defect_model.defect.slug|trans(lang, is_editable) }}</td></tr>
            {% if order.first_cart_item.color %}
              <tr><td class="key">{{ 'Color'|trans(lang, is_editable) }}</td>
                  <td class="val">{{ order.first_cart_item.color.name|trans(lang, is_editable) }}</td></tr>
            {% endif %}
              {% if order.first_cart_item.price %}
                  <tr>
                      <td class="key">{{ 'Price'|trans(lang, is_editable) }}</td>
                      <td class="val"><b>{{ order.first_cart_item.price }} kr</b>
                      </td>
                  </tr>

                  {% if 'home' in order.location %}
                      <tr>
                          <td class="key">{{ 'RUT'|trans(lang, is_editable) }}</td>
                          <td class="val">
                              {{- ('RUT applied' if order.rut else 'RUT not applied')|trans(lang, is_editable) -}}
                          </td>
                      </tr>
                  {% endif %}
              {% endif %}
            {% if order.first_cart_item.other_details == 'other' %}
            <tr><td class="key">{{ 'Details'|trans(lang, is_editable) }}</td><td class="val details">{{ other_details }}</td></tr>
            {% endif %}
          </table>
        </div>
      </div>
      {% if order.first_cart_item.defect_model.defect.slug != 'other' %}
          <div class="col-sm-6 col-xs-12 order-summary">
            <h4>{{ 'Location And Time'|trans(lang, is_editable) }}</h4>
            <div class="ir-box">
              <h5>{{ 'Location'|trans(lang, is_editable) }}</h5>
              <p>{{ order.meet_location }}</p>
              <h5>{{ 'Date and Time'|trans(lang, is_editable) }}</h5>
              <p>{{ order.meet_time }}</p>
            </div>
          </div>
    {% endif %}
    </div>
    <div id="copyright">{{ site.copyright }}</div>
  </section>
{% endblock %}

{% block analytics %}
  {% if order.person.email not in ['gpoussif@gmail.com', 'santiagobravo1983@gmail.com'] %}
    {{ super() }}
  {% endif %}
{% endblock %}