{% extends 'layout_flow.html' %}

{% block meta %}
  <title>{{ site.name }} - {{ 'Warranty'|trans(lang, gen_entry=True) }}</title>
{% endblock %}

{% block content %}
  <section class="container container-600-lg container-380-sm">
    <h1>{{ 'Warranty'|trans(lang, is_editable) }}</h1>
    <p>{{ 'warranty_page_p1'|trans(lang, is_editable) }}</p>
    <p>{{ 'warranty_page_p2'|trans(lang, is_editable) }}</p>
    <p>{{ 'warranty_page_p3'|trans(lang, is_editable) }}</p>
  </section>
  {% include 'main_footer.html' %}
{% endblock %}