<footer class="flow-footer">
    <div class="container-fluid container-760-lg flowstate gutter-5-xs">
        <div class="row">
            <div class="back-arrow">
                <a href="{{ None|base_url }}{{ backlink }}">
                    <i class="fa fa-caret-left"></i>
                </a>
            </div>


            <div class="flow-choice">
                <a class="choice-link" href="{{ 'choose_model'|repair_url(lang, city=city) }}" data-toggle="tooltip"
                   title="{{ 'Change model'|trans(lang, gen_entry=True) }}">
                    <img src="{{ url_for('static', filename='img/footer/') }}iphone-{{ model.slug }}-footer.png">
                    <div class="choice-text">iPhone {{ model.name }}</div>
                </a>
            </div>

            {% if defect %}
                <div class="flow-choice">
                    <a class="choice-link" href="{{ 'choose_defect'|repair_url(lang, city=city, model=model.slug) }}"
                       data-toggle="tooltip" title="{{ 'Change defect'|trans(lang, gen_entry=True) }}">
                        <img src="{{ url_for('static', filename='img/footer/') }}{{ defect.slug }}-footer.png">
                        <div class="choice-text">{{ defect.slug|trans(lang, is_editable) }}</div>
                    </a>
                </div>
            {% endif %}
            {% if location %}
                <div class="flow-choice">
                    <a class="choice-link"
                       href="{{ 'choose_location'|repair_url(lang, city=city, model=model.slug, defect=defect.slug) }}"
                       data-toggle="tooltip" title="{{ 'Change location'|trans(lang, gen_entry=True) }}">
                        <img src="{{ url_for('static', filename='img/footer/') }}{{ location }}-footer.png">
                        <div class="choice-text">
                            {{ ((location + '_footer') if 'home' not in location else 'home_footer')|trans(lang, is_editable) }}
                        </div>
                    </a>
                </div>
            {% endif %}
            {#      {% if color_slug %}#}
            {#        <div class="col-xs-4">#}
            {#          <a class="choice-link" href="{{ 'choose_color'|repair_url(lang, city=city, model=model.slug, defect=defect.slug) }}"#}
            {#           data-toggle="tooltip" title="{{ 'Change color'|trans(lang, gen_entry=True) }}">#}
            {#            <figure class="color-circle color-circle-{{ color_slug }}">&nbsp;</figure>#}
            {#            <div class="choice-text">{{ color_slug|trans(lang, is_editable) }}</div>#}
            {#          </a>#}
            {#        </div>#}
            {#      {% endif %}#}
            {% if is_quote %}
                <div class="hidden-xs pull-right price-flow">
                    {% if cart_item.price %}
                        <div class="pull-right">
                            <h2>{{ cart_item.price }}<currency>kr</currency></h2>
                            <div class="small">
                                {{- ('Final Price' + ('' if rut else 'no-rut'))|trans(lang, is_editable) -}}
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
</footer>