<header class="white-header">
    <div class="logo-wrap">
        <a style="text-decoration:none !important;" href="{{ url_for('home', lang=lang) }}">
            {% if site.logo %}
                <img src="{{ url_for('static', filename='img/%s' % site.logo_float) }}">
            {% else %}
                <span style="font-weight:500;line-height:40px;font-size:34px;font-family:Lato;color:#08708A;">
                    {{ site.name }}
                </span>
            {% endif %}
        </a>
    </div>
    {% if is_editable %}
        <a class="navlink btn btn-link pull-right" href="/translations">Translations Table</a>
    {% endif %}
    <div class="head-nav">
        <p>
            {% if switch_lng_url %}
                <a href="{{ switch_lng_url }}" class="navlink btn btn-link">
                    {{ 'SWE' if lang == 'en' else 'ENG' }}
                </a>
            {% endif %}
            <span class="hidden-xs phone-number">{{ site.phone_number }}</span>
        </p>
    </div>
</header>