<header class="{{ 'white-header' if floating_header else 'transparent-header' }}">
    <div class="logo-wrap">
        <a style="text-decoration:none !important;" href="{{ url_for('home', lang=lang) }}">
            {% if site.logo %}
                {% if floating_header %}
                    <img src="{{ url_for('static', filename='img/%s' % site.logo_float) }}">
                {% else %}
                    <img src="{{ url_for('static', filename='img/%s' % site.logo) }}">
                {% endif %}
            {% else %}
                <span style="font-weight:500;line-height:40px;font-size:34px;font-family:Lato;color:#fff;">
                    {{ site.name }}
                </span>
            {% endif %}
        </a>
    </div>
    <div class="head-nav">
        <a href="{{ url_for('home', lang='se' if lang == 'en' else 'en') }}" class="navlink btn btn-link">
            {{ 'SWE' if lang == 'en' else 'ENG' }}
        </a>

        <span class="hidden-xs">
            {% if is_editable %}
                <a class="navlink btn btn-link" href="/translations">Translations Table</a>
            {% endif %}

            <a class="navlink btn btn-link" href="#why-us">{{ 'Why us?'|trans(lang, is_editable) }}</a>
            <a class="navlink btn btn-link" href="#prices">{{ 'Prices'|trans(lang, is_editable) }}</a>
            <a href="{{ ('choose_model'|repair_url(lang, city=city)) if city else ('choose_city'|repair_url(lang)) }}"
               class="repair-button btn {{ 'btn-primary' if floating_header else 'btn-hollow' }}">
              {{ 'Repair iPhone'|trans(lang, is_editable) }}
            </a>
        </span>
    </div>
</header>
