<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.8">
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/%s' % site.favicon) }}">
  <title>{{ 'meta_title_home'|trans(lang, gen_entry=True)|replace('{CITY}', city or 'your city'|trans(lang, gen_entry=True)) }}</title>
  <meta name="description"
        content="{{ 'meta_description_home'|trans(lang, gen_entry=True)|replace('{CITY}', city or 'your city') }}">

  <meta property="og:title" content="{{ 'og_title_home'|trans(lang, gen_entry=True)|replace('{CITY}', city or 'your city') }}">
  <meta property="og:description" content="{{ 'og_description_home'|trans(lang, gen_entry=True) }}">
  <meta property="og:type" content="website">
  <meta property="og:locale" content="{{ 'en_US' if lang == 'en' else 'sv_SE' }}">
  <meta property="og:site_name" content="{{ site.name }}">
  <meta property="og:url" content="{{ request.url }}">
  <meta property="og:image" content="{{ url_for('static', filename='img/irepair.jpg', _external=True) }}">
  <meta property="og:image:type" content="image/jpeg">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  {% set robots_index = 'noindex' if city else 'index' %}
  <meta name="robots" content="{{ robots_index }},follow">
  <link rel="alternate" href="{{ url_for('home', lang='se' if lang == 'en' else 'en', _external=True) }}"
        hreflang="{{ 'se' if lang == 'en' else 'en' }}"/>
  <link rel="alternate" href="{{ request.url }}" hreflang="{{ lang }}"/>
{#  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">#}
{#  <link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,900,700,900' rel='stylesheet' type='text/css'>#}
  <link href="{{ url_for('static', filename='font-awesome-4.7.0/css/font-awesome.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='Lato/latofonts.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='irepair.css') }}?cb=6" rel="stylesheet">
</head>
<body id="home">
<div class="fix-header">
{% include 'header_home.html' %}
</div>
<div class="floating-header hidden-xs">
  {% set floating_header = true %}
  {% include 'header_home.html' %}
</div>
<div id="sections">
  <section id="intro">
    <div class="container-fluid">
      <h1>{{ 'Book. Meet. Fixed!'|trans(lang, is_editable) }}</h1>
      <div class="p">
        {{ 'Our technicians come to meet you in'|trans(lang, is_editable) }}
        <div class="btn-group dropdown">
          <button type="button" class="btn btn-danger city-dropdown-toggle dropdown-toggle" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
            <span class="thin-underline">{{ cities_dict[city].name if city else 'your city'|trans(lang, is_editable) }}</span>
          </button>
          <div class="city-dropdown-menu dropdown-menu">
{#            {% for city_slug, city_name in cities_dict.items() if city_slug != 'city' %}#}
            {% for city_slug, city in cities_dict.items() %}
                <a class="dropdown-item" href="#" data-city_slug="{{ city_slug }}"
                   data-repair-url="{{ 'choose_model'|repair_url(lang, city=city_slug) }}">{{ city.name }}</a>
            {% endfor %}
          </div>
        </div><br>
        {{'and fix your iPhone in less than 20 min.'|trans(lang, is_editable) }}
      </div>
        <a href="{{ ('choose_model'|repair_url(lang, city=city)) if city else ('choose_city'|repair_url(lang)) }}"
           class="repair-button btn btn-primary">{{ 'Repair my iPhone'|trans(lang, is_editable) }}</a>
    </div>
  </section>
  <section id="why-us">
    <div class="container-fluid">
{#        ToDo: after having modified the translation, remove the "replace(' {CITY}'" part#}
      <h1>{{ 'Why choose iRepair Berlin?'|trans(lang, is_editable)|replace(' {CITY}', '') }}</h1>
      <div class="row">
        <div class="col-sm-6">
          <div class="icon-wrap"><img src="{{ url_for('static', filename='img/cheaper-home.png') }}"></div>
          <div class="fact">
            <h3>{{ 'Even cheaper at home'|trans(lang, is_editable) }}</h3>
            <p>{{ 'Even cheaper at home_text'|trans(lang, is_editable) }}</p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="icon-wrap"><img src="{{ url_for('static', filename='img/we-come-to-you.png') }}"></div>
          <div class="fact">
            <h3>{{ 'We come to you'|trans(lang, is_editable) }}</h3>
            <p>{{ 'come2u_text'|trans(lang, is_editable) }}</p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="icon-wrap"><img src="{{ url_for('static', filename='img/data-security.png') }}"></div>
          <div class="fact">
            <h3>{{ 'Fast and reliable'|trans(lang, is_editable) }}</h3>
            <p>{{ 'fast_n_reliable_text'|trans(lang, is_editable) }}</p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="icon-wrap"><img src="{{ url_for('static', filename='img/convenient-payment.png') }}"></div>
          <div class="fact">
            <h3>{{ 'Convenient payment'|trans(lang, is_editable) }}</h3>
            <p>{{ 'conv_payment_text'|trans(lang, is_editable) }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="prices">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-offset-6 col-sm-6">
          <h1>{{ 'How much does it cost to repair your iPhone?'|trans(lang, is_editable) }}</h1>
          <p>{{ 'how_much_p1'|trans(lang, is_editable) }}</p>
          <p>{{ 'how_much_p2'|trans(lang, is_editable) }}</p>
          <a href="{{ ('choose_model'|repair_url(lang, city=city)) if city else ('choose_city'|repair_url(lang)) }}"
             class="repair-button btn btn-primary">{{ 'Get Price Quote'|trans(lang, is_editable) }}</a>
        </div>
      </div>
    </div>
  </section>
  <section id="book-us">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <h1>{{ 'Book a repair meeting'|trans(lang, is_editable) }}</h1>
          <p>{{ 'book_a_meet-text'|trans(lang, is_editable) }}</p>
            <a href="{{ ('choose_model'|repair_url(lang, city=city)) if city else ('choose_city'|repair_url(lang)) }}"
               class="repair-button btn btn-primary">{{ 'Book online'|trans(lang, is_editable) }}</a>
          <div class="details">
            <h5>{{ 'phone'|trans(lang, is_editable) }}</h5>
            <p>{{ site.phone_number }}</p>
            <h5>{{ 'email'|trans(lang, is_editable) }}</h5>
            <p>{{ site.email }}</p>
{#            <p>{{ 'fixme@irepairnorrkoping.ga' }}</p>#}
{#            <h5>{{ 'chat'|trans(lang, is_editable) }}</h5>#}
{#            <p>{{ 'Website Chat'|trans(lang, is_editable) }} &nbsp;<i class="fa fa-commenting-o"></i></p>#}
          </div>
        </div>
        <div class="hidden-xs col-sm-6">
          <img src="{{ url_for('static', filename='img/contact-home-phone.jpg') }}">
        </div>
      </div>
    </div>
  </section>
</div>
{% include 'main_footer.html' %}
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='home.js') }}"></script>
<script src="{{ url_for('static', filename='scroll.js') }}"></script>
{% include 'components/editjs.html' %}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', '{{ site.analytics }}', 'auto');
  ga('send', 'pageview');

  $(document).ready(function () {
      $('.dropdown-item').on('click', function (e) {
          e.preventDefault();
          $('.dropdown-toggle .thin-underline').text($(this).text());
          window.history.pushState({}, $(this).text(), $(this).data('city_slug'));
          $('.repair-button').attr('href', $(this).data('repair-url'));
          $(this).closest('.dropdown').removeClass('open');

          return false;
      });
  });
</script>
{% include 'components/olark.html' %}
</body>
</html>
