<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.8">
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/%s' % site.favicon) }}">
  {% block meta %}
      <title>Title</title>
      <meta name="description"
            content="iPhone repair service wherever you are in Berlin. Book an appointment and our technicians come to you anywhere in Berlin.">
      <meta property="og:description"
            content="Book an appointment and one of our technicians will come to you and fix your iPhone in less than 20 minutes. Fast and simple!">
  {% endblock %}
  <meta property="og:type" content="website">
  <meta property="og:locale" content="{{ 'en_US' if lang == 'en' else 'se_SV' }}">
  <meta property="og:site_name" content="{{ site.name }}">
  <meta property="og:url" content="{{ request.url }}">
  <meta property="og:image" content="{{ url_for('static', filename='img/irepair.jpg', _external=True) }}">
  <meta property="og:image:type" content="image/jpeg">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  {% if switch_lng_url %}
      <link rel="alternate" href="{{ switch_lng_url }}" hreflang="{{ 'se' if lang == 'en' else 'en' }}"/>
      <link rel="alternate" href="{{ request.url }}" hreflang="{{ lang }}"/>
  {% endif %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Lato:300,400,900,100,700,900' rel='stylesheet' type='text/css'>
{#  <link href="{{ url_for('static', filename='Lato/latofonts.css') }}" rel="stylesheet">#}
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='irepair.css') }}?cb=6" rel="stylesheet">
  {% block head_extra %}{% endblock %}
</head>
<body class="flow-body">
{% include 'header.html' %}
{% block content %}{% endblock %}

{% if model and not no_footer %}
  {% include 'flow_footer.html' %}
{% endif %}

<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

{% if model and not no_footer %}
<script src="{{ url_for('static', filename='layout_footer.js') }}"></script>
{% endif %}

{% block footer_scripts %}{% endblock %}

{% block analytics %}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', '{{ site.analytics }}', 'auto');
    ga('send', 'pageview');
  </script>
{% endblock %}
{% include 'components/editjs.html' %}
{% include 'components/olark.html' %}
</body>
</html>