<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>translations</title>
  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  {% set is_editable='sng' %}
  {% include 'components/editjs.html' %}
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
  <style>
    table {
      margin: 0 2.5%;
    }

    td, th {
      width: {{ 85 / (languages|length) }}%;
      border: 1px double lightsalmon;
      padding: 0.5em;
    }

    .key_col {
      width: 15%;
    }
  </style>
</head>
<body>
<table>
  <tr>
    <th class="key_col">Key</th>
    {% for lang in languages %}
      <th>{{ lang }}</th>
    {% endfor %}
  </tr>
  {% for t_key in translation_keys %}
    <tr>
      <td class="key_col">{{ t_key }}</td>
      {% for lang in languages %}
        <td>{{ t_key|trans(lang, True) }}</td>
      {% endfor %}
    </tr>
  {% endfor %}
</table>
</body>